<div class="widget-wrapper">
{% include plusone.html %}
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Recent Posts</h3>
<ul>
{% for post in site.posts limit:10 %}
    <li><a href="{{ site.production_url }}{{post.url}}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Archive</h3>
<ul>
{% for post in site.posts %}
    {% capture next %}{{ post.date | date: "%B %Y" }}{% endcapture %}
    {% if next != current %}
        <li><a href="{{ site.production_url }}/archive/#{{ post.date | date: "%B%Y" }}">{{ next }}</a></li>
        {% assign current = next %}
    {% endif %}
{% endfor %}
</ul>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Categories</h3>
<ul>
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Tags</h3>
<ul>
  {% assign tags_list = site.tags %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
    	<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a>&nbsp;
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
    	<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a>&nbsp;
    {% endfor %}
  {% endif %}

</ul>
</div>
