---
layout: default
---
{% include forward-wiki.html %}

{% include welcome.html %}

<div class="hfeed">
{% include googleplus-widget.html %}
</div>

<div class="hfeed">
{% for post in site.posts limit: 10 %}
    <div class="hentry">
        <h2 class="entry-title"><a href="{{ BASE_PATH }}{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
        <ul class="inline">
            {% if post.author %}<li><span class="vcard"><i class="icon-user"></i> <span class="fn">{{ post.author }}</span></span></li>{% endif %}
            {% if post.date %}<li><abbr class="published" title="{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}"><i class="icon-calendar"></i> {{ post.date | date: "%b %d, %Y" }}</abbr></li>{% endif %}
            {% if site.JB.comments.provider == "disqus" %}<li><i class="icon-comment"></i> <a href="{{ BASE_PATH }}{{ post.url }}#disqus_thread">Comment</a></li>{% endif %}
        </ul>
        <p class="entry-summary">{{ post.content | strip_html | truncatewords: 30 }}</p>
        <p><a href="{{ BASE_PATH }}{{ post.url }}" rel="nofollow">Read more</a></p>
    </div>
{% endfor %}
</div>

    {% if site.JB.comments.provider == "disqus" %}
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.JB.comments.disqus.short_name }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    {% endif %}
