body {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #555555;  
}

.wrapper {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 30px;
}

.widget-wrapper {
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    margin: 0 0 20px;
    padding: 20px;
}

.widget-title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 23px;
    margin: 0;
    padding: 0 0 20px;
    text-align: left;
}

.content {
    margin: 40px 0 20px 20px;
}

.sidebar {
    margin: 40px 20px 20px 0;
}

.sidebar-left .content {
    margin: 40px 20px 20px 0;
}

.sidebar-left .sidebar {
    margin: 40px 0 20px 20px;
}

.no-sidebar .content {
    margin: 40px 20px 20px 20px;
}

.site-name {
  margin: 10px 0;
  font-family: inherit;
  font-size: 38.5px;
  font-weight: bold;
  line-height: 40px;
  color: inherit;
  text-rendering: optimizelegibility;
}

@media (max-width: 767px) {
    .content {
        margin: 40px 20px 20px 20px;
    }

    .sidebar {
        margin: 40px 20px 20px 20px;
    }
}